#maintitle {
    text-align: center;
    font-weight: bold;
    padding-top: 250px;
    padding-bottom: 20px;
    font-size: 105px;
}

#subtitle {
    text-align: center;
    font-size: 30px;
}